.layerCollection {
    padding: 0px 14px 14px 14px;
}

.LayerDiv {
    margin-top: 10px;
    -webkit-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.06), 0 4px 8px rgba(0, 0, 0, 0.12), 2px -2px 6px rgba(0, 0, 0, 0.06);
    -moz-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.06), 0 4px 8px rgba(0, 0, 0, 0.12), 2px -2px 6px rgba(0, 0, 0, 0.06);
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.06), 0 4px 8px rgba(0, 0, 0, 0.12), 2px -2px 6px rgba(0, 0, 0, 0.06);
}

.LayerDiv .paddingForDiv {
    padding-left: 10px;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}

.LayerDiv .legend-div {
    margin-top: 10px;
    border-top: 1px solid #cecbcb;
    padding-left: 10px;
}

.LayerDiv .opac-div {
    height: 10px;
}

.LayerDiv .layerCheckPadding {
    padding-top: 10px;
}

.ChevronDiv .glyphicon {
    margin-right: 10px;
    cursor: pointer;
    margin-top: 11px;
    transition: 0.3s transform;
}

.ChevronDiv .glyphicon[show-legend="false"] {
    transform: rotate(0deg);
}

.ChevronDiv .glyphicon[show-legend="true"] {
    transform: rotate(-90deg);
}


/*slider*/
.LayerDiv .slider-selection {
    color: #2c689c;
    background: #2c689c;
    background-color: #2c689c;
}

.LayerDiv .slider-track-high {
    background: #dddddd;
    background-color: #dddddd;
    color: #dddddd;
}

.LayerDiv .bs-tooltip-auto[x-placement^=top], .LayerDiv .bs-tooltip-top {
    padding: .4rem 10px;
}


.LayerDiv .tooltip-inner {
    color: #ffffff;
    background-color: #0000;
}

.slider .tooltip.bs-tooltip-top {
    padding-top: 1px;
    margin-top: -13px;
    margin-left: 0px;
    font-size: 10px;
}

.bs-tooltip-auto[x-placement^=top] .arrow::before, .bs-tooltip-top .arrow::before {
    border-top-color: #0000;
}

.LayerDiv .bs-tooltip-auto[x-placement^=top], .LayerDiv .bs-tooltip-top {
    padding: .4rem 10px;
}

.slider.slider-horizontal .slider-tick, .slider.slider-horizontal .slider-handle {
    margin-left: -8px;
    margin-top: 0px;
}

.LayerDiv .slider-handle.round {
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
}

.LayerDiv .slider-handle {
    width: 36px;
    height: 15px;
}

.slider.slider-horizontal .slider-tick, .slider.slider-horizontal .slider-handle {
    margin-left: -8px;
    margin-top: -1px;
}

.slider.slider-horizontal .slider-track {
    height: 4px;
    margin-top: -4px;
}

.LayerDiv .opac-div {
    margin-right: 20px;
}

.LayerDiv .glyphicon {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: 400;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

@font-face {
    font-family: 'Glyphicons Halflings';
    src: url('../fonts/glyphicons-halflings-regular.eot');
    src: url('../fonts/glyphicons-halflings-regular.eot?#iefix') format('embedded-opentype'),
    url('../fonts/glyphicons-halflings-regular.woff2') format('woff2'),
    url('../fonts/glyphicons-halflings-regular.woff') format('woff'),
    url('../fonts/glyphicons-halflings-regular.ttf') format('truetype'),
    url('../fonts/glyphicons-halflings-regular.svg#glyphicons_halflingsregular') format('svg');
}

.LayerDiv .glyphicon-chevron-left:before {
    content: "\e079";
}

.LayerDiv .slider.slider-horizontal {
    width: 100%;
}

.slider .bs-tooltip-top .tooltip-inner, .slider .bs-tooltip-bottom .tooltip-inner {
    left: unset;
}

.slider .tooltip.bs-tooltip-top {
    position: relative;
    z-index: 9999;
}

.slider .tooltip.bs-tooltip-top {
    margin-top: -0px;
    margin-left: -13px;
    width: 15px;
}


.slider.slider-horizontal.slider-disabled .slider-selection {
    background-color: #c7d6e0;
}




.LayerDiv .custom-control {
    position: relative;
    display: block;
    min-height: 1.5rem;
    padding-left: 1.5rem;
}

.LayerDiv input[type=checkbox], .LayerDiv input[type=radio] {
    box-sizing: border-box;
    padding: 0;
}

.LayerDiv .custom-control-input {
    position: absolute;
    z-index: -1;
    opacity: 0;
}

.LayerDiv button, .LayerDiv input {
    overflow: visible;
}

.LayerDiv button, .LayerDiv input, .LayerDiv optgroup, .LayerDiv select, .LayerDiv textarea {
    margin: 0;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
}


.LayerDiv .custom-control-label {
    position: relative;
    margin-bottom: 0;
    vertical-align: top;
}

.LayerDiv label {
    display: inline-block;
    margin-bottom: .5rem;
}

.LayerDiv .custom-control-label::before {
    position: absolute;
    top: .25rem;
    left: -1.5rem;
    display: block;
    width: 1rem;
    height: 1rem;
    pointer-events: none;
    content: "";
    background-color: #fff;
    border: #adb5bd solid 1px;
}

.LayerDiv .custom-control-label::before, .LayerDiv .custom-file-label, .LayerDiv .custom-select {
    transition: background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}


.LayerDiv .custom-control-label::before, .LayerDiv .custom-control-label::after {
    top: 3.5px;
    left: -25.5px;
}

.LayerDiv .custom-control-label::before {
    border-radius: .25rem;
}


.LayerDiv .custom-control-label::before {
    width: 13px;
    height: 13px;
}

.LayerDiv .custom-control-input:checked~.custom-control-label::before {
    color: #fff;
    border-color: #007bff;
    background-color: #007bff;
}



.LayerDiv .custom-control-label::after {
    position: absolute;
    top: .25rem;
    left: -1.5rem;
    display: block;
    width: 1rem;
    height: 1rem;
    content: "";
    background: no-repeat 50%/50% 50%;
}

.LayerDiv .custom-control-label::before, .LayerDiv .custom-control-label::after {
    top: 3.5px;
    left: -25.5px;
}

.LayerDiv .custom-control-label::after {
    width: 13px;
    height: 13px;
}


.LayerDiv .custom-control-input:checked~.custom-control-label::after{background-image:url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3e%3cpath fill='%23fff' d='M6.564.75l-3.59 3.612-1.538-1.55L0 4.26 2.974 7.25 8 2.193z'/%3e%3c/svg%3e")}

.LayerDiv .glyphicon {
    margin-right: 4px;
    margin-top: 4px;
}


.LayerDiv .layerCheckPadding {
    padding-top: 4px;
}

.LayerDiv *, .LayerDiv *:before, .LayerDiv *:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.LayerDiv .opac-div {
    height: 4px;
}

